.banner {
  width: 100%;
  flex: 0.2;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.banner > .burger {
  display: none;
}

.banner__left {
  width: 50%;

  display: flex;
  justify-content: center;
}

.banner__left > img {
  max-width: 50px;
  margin: 0 20px;
}

.banner__left > h1 {
  text-transform: uppercase;
}

.banner__right {
  width: 50%;
  display: flex;
  justify-content: center;
}

.banner__right > nav {
  display: flex;
}

.banner__user {
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner__user > .MuiButton-root {
  height: 30px;

  font-family: poppins, sans-serif;
  color: white;
  background-color: #000000;
  font-weight: 500;
}
.banner__user > a > .MuiButton-root {
  height: 30px;

  font-family: poppins, sans-serif;
  color: white;
  background-color: #000000;
  font-weight: 500;
}

.banner > .mobile__nav {
  display: none;
}

/* MEDIA QUERIES */

/* MOBILE */

@media only screen and (max-width: 875px) {
  .banner__left > h1 {
    display: none;
  }

  .banner__left > img {
    max-width: 70px;
    margin: 0 20px;
  }

  .banner__right {
    display: none;
  }

  .banner > .burger {
    width: 50%;

    display: flex;
    justify-content: center;
  }

  .banner > .burger > .MuiSvgIcon-root {
    font-size: 40px;
  }

  .banner > .mobile__nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: black;
    z-index: 300;
  }
  .banner > .mobile__nav > ul {
    width: 100%;
    height: 70%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
  }
}
