.cartItem {
  width: 400px;
  height: 200px;
  margin: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url(../images/ticket-light.svg);
  background-position: center;
  background-size: contain;
  text-align: center;
  overflow: hidden;
  border-radius: 5px;
  border: 2px dotted white;
  box-shadow: 1px 1px 5px 1px black;
  color: #fff;
}

.cartItem__image {
  height: 100%;
  flex: 0.3;

  overflow: hidden;

  display: grid;
  place-items: center;
}

.cartItem__image > img {
  max-width: 80%;
  max-height: 80%;
  object-fit: contain;
}

.cartItem__info {
  height: 100%;
  flex: 0.4;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartItem__interact {
  height: 100%;

  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cartItem__interact > .MuiButton-root {
  background-color: rgb(219, 18, 18);
  color: white;
}
