.checkout {
  position: absolute;
  width: 90%;
  height: 90%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 1px 1px 5px 1px black;
  border-radius: 5px;
  color: #ececec;
}

.checkout__container {
  position: relative;
  width: 95%;

  flex: 0.45;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;

  border-radius: 5px;
}

.checkout__stripe {
  width: 90%;

  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff;
  background-color: rgba(31, 30, 30, 0.158);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.checkout__stripe > form {
  width: 80%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.checkout__stripe > form > input {
  width: 30%;
  align-self: center;

  text-align: center;
  font-family: poppins, sans-serif;
}

.checkout__stripe > form > button {
  width: 20%;
  align-self: center;

  font-family: poppins, sans-serif;
  background-color: orange;
  border-radius: 5px;
}

/* MEDIA QUERIES */

/* MOBILE */

@media only screen and (max-width: 875px) {
  .checkout {
    width: 100%;
    height: 100%;
  }

  .checkout__container {
    width: 100%;
  }
  .checkout__stripe {
    width: 100%;
  }
  .checkout__stripe > form {
    width: 100%;
  }
  .checkout__stripe > form > input {
    width: 60%;
    margin-bottom: 10px;
  }
}
