.footer {
  flex: 0.1;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.footer__icons {
  width: 15%;
  min-width: 250px;
  flex: 0.4;

  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.footer__icons__link {
  position: relative;
}

.footer__icons__link > p {
  position: absolute;
  top: 0;
  right: -10px;

  color: #f1c40f;
  z-index: 100;
  text-align: center;
  font-weight: bold;
}

.footer__icons__link > a > .MuiSvgIcon-root {
  font-size: 2rem;
  cursor: pointer;

  transition: all 0.2s ease-in-out;
}

.footer__icons__link > a > .MuiSvgIcon-root:hover {
  color: black;
}

.footer__bottom {
  flex: 0.2;
  width: 100%;

  text-align: center;
}

/* MEDIA QUERIES */

/* MOBILE */

@media only screen and (max-width: 875px) {
  .footer__icons {
    flex: 1;
  }
}
