.footer {
  flex: 0.15;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer__icons {
  width: 15%;
  min-width: 250px;
  flex: 0.4;

  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

.footer__icons > .MuiSvgIcon-root {
  font-size: 2rem;
  cursor: pointer;
}

.footer__icons > .MuiSvgIcon-root:hover {
  color: black;
}

.footer__links {
  width: 20%;
  min-width: 250px;
  flex: 0.4;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__links > a {
  font-size: 1.3rem;
  cursor: pointer;
}

.footer__links > a:hover {
  color: black;
}

.footer__bottom {
  flex: 0.2;
  width: 100%;

  text-align: center;
}
