.item {
  width: 25%;
  min-width: 380px;
  height: 50%;
  min-height: 250px;
  margin: 50px;

  display: flex;
  flex-direction: column;

  background-image: url(../images/ticket.svg);
  background-position: center;
  background-size: contain;
  /* background-color: rgba(0, 0, 0, 0.267); */
  box-shadow: 1px 1px 5px 1px black;
  border-radius: 5px;
  text-align: center;
}

.item__title > h3 {
  font-weight: 400;
}

.item__image {
  width: 100%;
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.item__image > img {
  object-fit: contain;
  min-width: 250px;
  max-width: 45%;
}

.item__text {
  font-size: 1.1rem;
  flex: 0.2;
}
.item__text > p > span {
  color: #f1c40f;
  font-weight: bold;
}

.item__interact {
  margin-top: 5px;
  flex: 0.2;
}

.item__interact > .MuiButton-root {
  font-family: poppins, sans-serif;
  background-color: #e79110;
  font-weight: bold;
}

/* MEDIA QUERIES */

/* MOBILE */

@media only screen and (max-width: 875px) {
  .item {
    min-width: 100%;
    min-height: 60%;
  }
}
