.login {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
}

.login > form {
  width: 50%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px black;
}

.login > form > input {
  width: 95%;
  max-width: 300px;
  margin: 0.5rem;
  padding: 5px;

  font-family: poppins, sans-serif;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px black;
}

.login > form > .MuiButton-root {
  width: 180px !important;
  height: 40px !important;
  margin: 20px;

  font-family: poppins, sans-serif;
  color: white;
  background-color: #109c1c !important;
  box-shadow: 1px 1px 5px 1px black;
}

/* MEDIA QUERIES */

/* 875PX */

@media only screen and (max-width: 875px) {
  .login > form {
    width: 100%;
    box-shadow: none;
  }

  .login > form > input {
    width: 60%;
  }
  .login > form > .MuiButton-root {
    width: 100px !important;
    height: 30px !important;
  }
}
