.order {
  width: 95%;
  height: 95%;

  display: flex;
  flex-direction: column;

  text-align: center;
  box-shadow: 1px 1px 5px 1px black;
  color: white;
}

.order__container {
  flex: 0.7;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.order h3 {
  text-decoration: underline;
}

/* MEDIA QUERIES */

/* MOBILE */

@media only screen and (max-width: 875px) {
  .order {
    width: 100%;
    height: 100%;
  }
}
