.signUp {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: transparent;
}

.signUp > h2 {
  text-decoration: underline;
  font-weight: 400;
}

.signUp > form {
  width: 50%;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
}

.signUp > form > input {
  width: 95%;
  max-width: 300px;
  margin: 0.5rem;
  padding: 5px;

  font-family: poppins, sans-serif;
  border-radius: 5px;
  box-shadow: 1px 1px 5px 1px black;
}

.signUp > form > .MuiButton-root {
  width: 180px !important;
  height: 40px !important;
  margin: 20px;
  padding: 0;
  vertical-align: middle;
  text-align: center;

  font-family: poppins, sans-serif;
  color: white;
  background-color: rgb(223, 145, 2) !important;
  box-shadow: 1px 1px 5px 1px black;
}

.signUp > form > .signUp__error {
  color: white;
}
/* MEDIA QUERIES */

/* 875PX */

@media only screen and (max-width: 875px) {
  .signUp > form {
    width: 100%;

    box-shadow: none;
  }
  .signUp > form > input {
    width: 60%;
  }

  .signUp > form > .MuiButton-root {
    width: 100px !important;
    height: 30px !important;
  }
}
