.subtotal {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.subtotal__links {
  flex: 0.8;
}

.subtotal__links > a > .MuiButton-root {
  font-family: poppins, sans-serif;
  background-color: orange;
}

/* MEDIA QUERIES */

/* MOBILE */

@media only screen and (max-width: 875px) {
}
