.welcome {
  position: absolute;
  width: 60%;
  max-width: 1000px;
  height: 70%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  text-align: center;
  box-shadow: 1px 1px 5px 1px black;
  border: 1px dashed #ececee;
  border-radius: 5px;
  color: white;
  background-color: #575757;
  background: url(../images/ticket-dark.svg) no-repeat center center;

  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.welcome > svg {
  width: 40%;
  max-width: 300px;
}

.welcome > h1 {
  flex: 0.1;
  width: 50%;
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 2.2rem;
}

.welcome__login {
  flex: 0.1;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome__links {
  flex: 0.4;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.welcome__links > .MuiButton-root:nth-of-type(1) {
  width: 180px !important;
  height: 40px !important;

  background-color: #109c1c !important;
  box-shadow: 1px 1px 5px 1px black;
}

.welcome__links > .MuiButton-root:nth-of-type(2) {
  width: 180px !important;
  height: 40px !important;

  background-color: #e79110 !important;
  box-shadow: 1px 1px 5px 1px black;
}

/* MEDIA QUERIES */

/* 875PX */

@media only screen and (max-width: 875px) {
  .welcome {
    width: 100%;
    min-height: 100%;

    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
  }

  .welcome > h1 {
    width: 65%;
  }

  .welcome__login {
    margin-top: 30px;
  }

  .welcome__links {
    flex: 0.4;
    justify-content: center;
  }

  .welcome__links :nth-of-type(1) {
    margin: 20px 0;
  }
}
