* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  text-decoration: none;
}

a {
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.app {
  position: relative;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-size: 150%;
  background-position: center;
  background-repeat: no-repeat;
}

/* MEDIA QUERIES */

/* MOBILE */

@media only screen and (max-width: 875px) {
  .app {
    max-width: 100%;
    max-height: 100%;

    background-size: cover;
  }
}
